body {
    font-family: 'Jua', sans-serif;
}
.NowTime {
    text-align: center;
    font-size: 900%;
    margin-top: 20%;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}